.auth{
	padding-top: 15vh; 
}body{
	background-color: #bdc3c7;
    height: auto;

       
}
.success{
	background-color: #2ecc71;
}
.error{
	background-color: #e74c3c;
}
/* The alert message box */
.alert {
    padding: 20px;
   // background-color: #f44336; /* Red */
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}nav{
    background-color: #3498db ;
}.container{
    width: 95% !important;
}.row div{
    margin-top: 10px;
}.table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
  
  }th{
    background-color: #3498db;
    color: white;
    font-weight: normal;
    padding: 15px 20px;
    text-align: center;
    //opacity: 0.9;
    border-left: 1px solid rgba(255, 255, 255, .5);
  }
  td {
    background-color: rgb(238, 238, 238);
    //background-color: white;
    //color: rgb(111, 111, 111);
    color:black;
    padding: 15px 20px;
    text-align: center;
    //opacity: 0.9;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, .5);
  }.titre{
  //padding-top: 5px;
    //padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    //background-color: #e7e5e4;
    font-family: 'Gabriela', serif;
    font-size: 50px;
    letter-spacing: .10em;
    //text-align: center;
    text-shadow:
        1px -1px 0 #767676,
        -1px 2px 1px #767474;

}.pagination li.active a{
  background-color: #3498db !important ;
}.page-footer{
    background-color: #838383 !important;
}